@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --interactive-elements: #3FA9F5;
    --background: #0095FF;
    --gradient: #007CD4;
    --main-text-color: #333;
    --faded-elements: #EAEAEA;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.uppercase{
    text-transform: uppercase;
}
.primary-cta{
    background: #3FA9F5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    cursor: pointer;
}
.primary-cta:hover{
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.08);
}
.primary-cta:active{
    background: #0095FF;
    
}
a{
    text-decoration: none;
}
.secondary-cta{
    color: #3FA9F5;
    border: 2px solid #3FA9F5;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.08));
    border-radius: 4px;
    cursor: pointer;

}
.secondary-cta:hover{
    filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.08));
}
.secondary-cta:active{
    color: #0095FF;
    border: 2px solid #0095FF;
}
.flex-container{
    display: flex;
    align-items: center;
}
.active{
    text-decoration-line: underline;
    font-weight: 700;
    opacity: 100%;
}
li:active, li:focus{
    text-decoration-line: underline;
    font-weight: 700;
    opacity: 100%;
}
li{
    cursor: pointer;
}
.stroke-white{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.stroke-black{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
h1 span,h2 span{
    color: transparent;
}
body{
    width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

/*=================================================================*/
/*                      HEADER                              
/*=================================================================*/
header{
    color: var(--faded-elements);
    height: 4rem;
    padding: 20.5px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    gap: 31px;

}
ul{
    list-style-type: none;
    display: flex;
    gap: 31px;
    align-items: center;
    text-align: center;  
    margin-bottom: 0px; 
}
li{
    font-weight: 400;
font-size: 14px;
line-height: 41px;
opacity: 70%;
}

.hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(180deg);
    height: 13px;
}
.contact{
    font-weight: 700;
font-size: 14px;
line-height: 41px;
}
.contact span{
    font-weight: 400;
font-size: 14px;
line-height: 41px;
opacity: 70%;
}
/*=================================================================*/
/*                      SECTION 1                             
/*=================================================================*/
.section1{
    background: linear-gradient(180deg, #007CD4 0%, rgba(0, 124, 212, 0.7) 100%);
    
    
    height: 650px;
    overflow: hidden;
}
.hero{
    /* background: url(/background.png);
    -webkit-mask-image: linear-gradient(#007cd4, transparent);
    mask-image: linear-gradient (#007cd4, transparent);
    filter: blur(4px); */
    padding: 20.5px 128px;
    /* -webkit-mask-image: url(background.png);
    mask-image: url(background.png); */
    display: flex;
    /* mask-image: linear-gradient(180deg, #007CD4 0%, rgba(0, 124, 212, 0.7) 100%); */
    /* z-index: 999; */
    
}
.hero-bg{
    filter: blur(4px);
}

.hero-text{
    margin: auto;
}

h1{
    color: #fff;
    width: 574px;
    height: 144px;
    top: 226px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    /* display: flex; */
    align-items: center;
    
}
p{
    width: 574px;
    height: 84px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}
form{
    height: 449px;
    padding: 51px 28px;
    background: linear-gradient(180deg, #3FA9F5 0%, rgba(63, 169, 245, 0.5) 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    width: 472px;
    margin-left: 138px;
    /* display: inline-block; */
    
}

form h2{
    margin: 0px auto 34px;
    text-align: center;
    align-items: center;
    height: 35px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    color: #FFFFFF;
    width: 162px;
}
input{
    padding-left: 10px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 2px;
    width: 180px;
    margin: 8px;
    background: transparent;
    color: #fff;
    
}
input:focus, input:active{
    outline: none;
    
}
/* input:focus, input:active{
    border: 1px solid #FF7777;
    border-radius: 2px;
} */
input::placeholder, select::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    
}
/* input:active + ::placeholder {
    transform: translateY(-25px);
    
  } */
/* .field {
    width: 200px;
    gap: 8px;
    height: 58px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
label {
    order: -1;
    padding-left: 5px;
    transition: all 0.3s ease-in;
    transform: translateY(20px);
    pointer-events: none;
}
input:focus + label {
    transform: translateY(-2px);
} */

select{
width: 380px;
padding: 10px;
height: 48px;
background: transparent;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 2px;
margin: 8px;
color: rgba(255, 255, 255, 0.7);
}

button{
    margin: 41px auto;
    user-select: none;
    height: 56px;
    background: #3FA9F5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: 221px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 17px 60px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #FFFFFF;
    border: none;
}
button img{
    
    margin-right: 9px;
    -webkit-user-drag: none;
}
.curve{
    width: 1440px;
    position: relative;

}
.rect2-1{
    width: 1440px;
    height: 111px;
    position: absolute;
    left: 0px;
    top: -14px;
}
.rect2{
    position: absolute;
    width: 1440px;
    height: 89.17px;
    top: 7px;
  left: 0px;
  object-fit: cover;

}
/*=================================================================*/
/*                      SECTION 2                              
/*=================================================================*/
.section2{
    background: #F5F5F5;
    padding: 62px 128px;
    height: 700px;
}
.images{
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
}
.images img{
border-radius: 8px;
}

.flex-container h2{
    color: #333;
    width: 344px;
    height: 46px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    
}
.flex-container .hr{
    margin-left: 27px;
    border: 1px solid #EAEAEA;
    height: 0px;
    width: 813px;
}
.text-field{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    
}

.text-field p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    width: 371px;
}

.text-field .secondary-cta{
    margin-top: 10px;
    padding: 15px 80px;
    width: 371px;
    /* color: #3FA9F5; */
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.secondary-cta .arrow-stroke{
    margin-left: 8px;
}
/*=================================================================*/
/*                      SECTION 3                              
/*=================================================================*/
.section3{
    padding-left: 128px;
    padding-right: 128px;
    margin-bottom: 118px;
}
.swiper {
    margin-top: -30px;
    /* width: 600px;
    height: 300px; */
}
.swiper-slide{
    
    display: flex;
    gap: 35px;
    /* justify-content: space-between; */

}
.profile{
    margin-left: 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 270px;
    height: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* .swiper-button-prev{
    margin-right: 65.76px;
} */
/* .swiper-button-next{
    position: absolute;
    top: 35%;
} */
::after{
    color: #EAEAEA;
}
:hover::after{
    color: #3FA9F5;
}
:active::after{
    color: #3FA9F5;
}
.text-field4{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 65.76px;
    padding: 62px 65px 45px;
    width: 675px;
    height: 269px;
    background: #007CD4;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}
.text-field4 .name{
    margin-bottom: 16px;
    height: 34px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    width: 545px;
    color: #fff;
}
.text-field4 p{
    height: 112px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 545px;
    padding-right: 7.5px;

}
.quote{
    background-color: #007CD4;
    width: 60px;
    height: 47px;
    left: 855px;
    top: 40px;
    position: absolute;
}
/*=================================================================*/
/*                      SECTION 4                              
/*=================================================================*/
.section4{
    padding: 62px 128px;
 
}
.section4 h2{
    font-family: 'Montserrat';
    text-shadow: 1px solid #333333;
    
    font-weight: 700;
font-size: 36px;
line-height: 46px;
color: #333333;
width: 625px;
height: 46px;
}
.section4 .text-field{
    height: 168px;
    margin-bottom: 36px;
    
}
.text-field .container{
    width: 371px;
    height: 168px;
    padding: 0;
    margin: 0;
}
.first-para{
    width: 371px;
    height: 84px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 28px;
    color: #333333;
    padding-right: 10px;
}
.section4 .hr{
    margin-left: 27px;
    border: 1px solid #EAEAEA;
    height: 0px;
    width: 532px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    align-items: center;
    

}
.section4 .secondary-cta{
    display: flex;
    font-weight: 700;
font-size: 18px;
line-height: 28px;
    
    width: 371px;
height: 96px;
align-items: center;
text-align: center;
justify-content: center;
padding: 30px 0;
}
.circle{
    /* background-color: #0095FF; */
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #0095FF;
    position: relative;
    margin-left: 10px;
}
.info{
    user-select: none;
    color: #333;
    position: absolute;
    left: 6.5px;
    top: 3px;
}
.btn-container .secondary-cta{
    color: #333;
}
.btn-container .secondary-cta:hover, .info:hover{
    color: #0095FF;
    border: 2px solid #0095FF;
}
/* #tooltip {
    display: none;
  }
  
  #tooltip[data-show] {
    display: block;
  } */
  /* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } */
/*=================================================================*/
/*                      SECTION 5                             
/*=================================================================*/
.section5{
    /* background: linear-gradient(180deg, #0095FF 0%, #007CD4 100%); */
    /* background: url(video-background.svg); */
    background-position: left;
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    height: 650px;
position: relative;
}
.left{
    position: absolute;
width: 755px;
height: 650px;
left: 0px;
top: 0px;
    padding-left: 128px;
    /* z-index: 2; */
    background: url(video-background.svg);

}
.text-field3{
    margin-right: 100px;    
    padding-top: 62px;
}
.section5 h2{
    width: 443px;
    height: 52px;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    align-items: center;
    color: #fff;
    margin-bottom: 48px;
}
.section5 h3{
width: 430px;
height: 32px;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}
.section5 p{
width: 430px;
height: 84px;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: rgba(255, 255, 255, 0.8);
}
.video{
    background-color: rgba(63, 169, 245, 0.3);
    border-radius: 4px;
    width: 749px;
    height: 650px;
    left: 690px;
    top: 0px;
    z-index: -1;
    position: absolute;

}
.video img{
    width: 750px;
    height: 650px;
    -webkit-user-drag: none;
    user-select: none;
}
.checkmark{
    height: 140px;
    margin-right: 24.4px;
    padding-top: 0px;
}
.logo{
    position: absolute;
width: 226.09px;
height: 35px;
top: 590px;
left: 1180px;
}
.play-btn{
    position: absolute;
width: 120.54px;
height: 120.54px;
left: 1019.73px;
top: 265px;
border-radius: 50%;
z-index: 999;
background: rgba(63, 169, 245, 0.8);
outline: 2px solid #FFFFFF;
box-sizing: border-box;
cursor: pointer;
/* box-shadow: 2px solid rgba(255, 255, 255, 0.3);
border: 2px solid rgba(255, 255, 255, 0.3); */
}
.ellipse{
    width: 200px;
height: 200px;
border-radius: 50%;
position: relative;
top: -38px;
left: -38px;
/* left: 128px;
top: 2582px; */
background: rgba(63, 169, 245, 0.1);
border: 2px solid rgba(255, 255, 255, 0.3);
z-index: 999;


}
.ellipse:hover, .ellipse:active{
z-index: 999;

    top: -52px;
    left: -52px;
    width: 228px;
    height: 228px;
    background: rgba(63, 169, 245, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.44);
}
.triangle{
    position: absolute;
    top: 40px;
    left: 52px;
    border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-radius: 4px;
  border-left: 20px solid white;
}
.play-btn .polygon{
    position: absolute;
    top: 45px;
    left: 48px;
    width: 30.59px;
    height: 34.37px;
    

}

/* VIDEO */
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }
/*=================================================================*/
/*                      FOOTER                              
/*=================================================================*/
footer{
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 38px 128px;
    color: #757575;
    background: #EAEAEA;
}
footer p{
    width: 371px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}
footer .hr{
    /* color: #333; */
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    transform: rotate(180deg);
    height: 13px;
}
ul{
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    font-weight: 400;
}
/*TOOLTIP */
#tooltip {
    display: inline-block;
    background: #FF7777;
    color: #fff;
    font-weight: 400;
    line-height: 20px;    
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
    /* width: 168px; */
    /* height: 40px; */
  }
  
  #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }
  
  #arrow {
    visibility: hidden;
  }
  
  #arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }
  
  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }